extends layout

block content
  div.container
    h1(class="about") About SneakerReview
    p(class="about") Welcome to Shoe Reviews, an online forum for users to upload shoes of their choice. Users are also able to comment and discuss the shoes that they and other users have uploaded!
    p(class="about") Thank you for choosing Shoe Reviews. We hope our website helps you find the perfect pair of shoes for your next adventure!
    p(class="about") This website was created using Express.js with Node.js. Other technologies used included : Bootstrap, MongoDB (Mongoose), Passport, and Multer!
