extends layout

block content
  p(class="lead home-text") Welcome <span class="username">#{username}</span>!

  p(class="lead home-text") SneakerReview is the one-stop destination for exploring and discussing the latest sneakers!

  div(class="carousel slide carousel-fade" data-bs-ride="carousel")
    div.carousel-inner
      div.carousel-item.active
        img.d-block.w-100(src="images/shoe_images/slideshow_image_1.jpg", alt="First slide")
      div.carousel-item
        img.d-block.w-100(src="images/shoe_images/slideshow_image_2.jpeg", alt="Second slide")
      div.carousel-item
        img.d-block.w-100(src="images/shoe_images/slideshow_image_3.jpeg", alt="Third slide")