doctype html
html(lang='en')
  head
    title= 'SneakerReview'

    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //- link(rel=”stylesheet”, href=”https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css”)

    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css")
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css", integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z", crossorigin="anonymous")
    link(rel="stylesheet", href="/stylesheets/style.css")

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,400&display=swap" rel="stylesheet">

    script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js", integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj", crossorigin="anonymous")
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    body(class="layout")
      header
      main
        div(class="bg-dark py-5")
          div.container.text-center.text-light
            h1.mb-1(class="landing-page-header") SneakerReview
            h2.mb-3 Find The Perfect Pair of Shoes!
            p.mb-5 Read our user's reviews and find the best shoes for your needs.
            div(class='button-group')
              a.btn.btn-primary(href='login') Log In
              a.btn.btn-primary(href='signup') Sign Up
        div.features.py-5
          div.container
            div.row.text-center
              div.col-md-4.mb-4
                i.bi.bi-check2-circle.text-primary.fs-1.mb-3
                h3.mb-3 User Uploads
                p Upload shoes that you want to discuss with others!
              div.col-md-4.mb-4
                i.bi.bi-star-fill.text-primary.fs-1.mb-3
                h3.mb-3 Popular Shoes
                p Discover new shoes that other users are talking about!
              div.col-md-4.mb-4
                i.bi.bi-chat-dots-fill.text-primary.fs-1.mb-3
                h3.mb-3 User Reviews
                p Read reviews from other shoe enthusiasts and share your own experiences!

      nav(class="navbar navbar-expand-lg navbar-light bg-white fixed-bottom sign-in-page")
        p(class="login-text mx-auto") Website created by <a class="login-text" href="https://www.github.com/jsingh-23">Jaskaranpal Singh!</a>