extends layout

block content
  div(class="flex-container shoe-list")
    each shoe,index in shoe_list
      div(class="list-item-container")
        a(class="item-name" href=shoe.url) #{shoe.name}
        ul(class="list-group complete-shoe-list")
          li(class="list-group-item complete-shoe-list")
            div(class="list-img-container")
              img(class="shoe-list-items" src=`/images/shoe_images/` + shoe.image)