doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Express • TodoMVC
    link(rel="stylesheet", href="/css/base.css")
    link(rel="stylesheet", href="/css/index.css")
    link(rel="stylesheet", href="/css/login.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css")
  body
    section.prompt
      h1 Sign up
      form(action="/signup", method="post")
        section
          label(for="username") Username
          input#username.form-control(name="username", type="text", autocomplete="username", required)
        section
          label(for="new-password") Password
          input#new-password.form-control(name="password", type="password", autocomplete="new-password", required)
        button.btn.btn-primary(type="submit") Sign up
      hr
      p.help Already have an account?
        a(href="/login")  Sign in
